
@{
    ViewBag.Title = "SurveyComplete";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="purple">
                    <h4 class="card-title">Contact List</h4>
                </div>
                <div class="card-content">

                    <h2>Your Survey has been submitted successfully!!!</h2> <br />
                    <h2>Our Customer Care Team will contact you soon</h2>

                    <button type="button" onclick="@Url.Action("Index" , "Home")" class="btn btn-purple btn-fill">Home</button>
                </div>
            </div>
        </div>
    </div>
</div>
